		.selector-for-some-widget {
		    box-sizing: content-box;
		}
		.marginleftauto{
			margin-left: auto;
		}
		.col{
			padding: 0;
		}
		.margin{
			margin:0px 20px 20px 20px;
		}
		.width100{
		    width: 100%;
		}
		.padding0{
		    padding: 0px;
		}
		.margin0{
		    margin:0px;
		}
		.topmargin{
			margin:56px 0px 30px 0px;
		}
		.center{
			margin-left: auto;
			margin-right: auto;
		}
		.piccenter{
			margin-left: auto;
			margin-right: auto;
			display: block;
		}
		.footer{
			background: gray;
			height: 100px;
			margin-top: 100px;
		}
		.footerWord{
			text-align: center;
		}
		.listgroupmargin{
			margin-bottom: 10px;
		}
		.productmargin{
			margin-top: 150px;
		}
		.productmainimg{
			margin-bottom: 20px;
		}
		.bar{
			width: 100%;
			height: 3px;
			background: gray;
		}
		.buybutton{
			width: 100%;
		}