/*nav bar*/
.navbg{
background: #efca00;
}
.chinese{
font-family: "微軟正黑體";
font-weight: bold;
}
.marginleftauto{
margin-left: auto;
}
.center{
margin-left: auto;
margin-right: auto;
}
/*nav bar end*/

/*中間*/
.margintop{
	margin-top:150px;
}
.font01{
	margin-left: 10px;
	font-size:15px;
	color: #efca00;
}
.barfont{
	font-weight: bolder;
}
/*footer*/
.width100{
width: 100%;
}
.footer{
background: black;
height: 100px;
margin-top: 100px;
}
.footerWord{
padding-top:30px;
text-align: center;
font-size:15px;
font-weight: bold;
color:gray;
}